@model IEnumerable<MovApp.ViewModels.MoviesViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name_org)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Premiere)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name_org)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Premiere)
        </td>
        <td>
            @foreach (var genre in item.Genres)
            {
                if (genre.Checked)
                {
                    @Html.DisplayFor(modelItem => genre.Name)
                    <text>&nbsp;</text>
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MovieId }) |
            @Html.ActionLink("Details", "Details", new { id = item.MovieId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MovieId })
        </td>
    </tr>
}

</table>
